@import "~bootstrap/scss/bootstrap";

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.7) !important;
}


.modal {
    
    &-dialog {
        background-color: black;
      height: 90vh;
      z-index: 3;
      position: fixed;
      background-color: #fff; 
      border-radius: 8px;
    
      padding: 20px;
      position: relative;
    }

    &-content {
        height: 100%;
        border: 1px solid #ff7f50!important;
    }

    &-body {
        overflow: hidden;
        height: 80%;
        text-decoration: none;
    }
}

  .contact-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
  }



  .btna{
    color: white !important;
    background-color: #46139f !important;
}

.btnb{
    color: white;
    background-color: #ff7f50 !important;
}